<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% spaceless -%}
            <!-- CSS only -->
            {% do pimcore_head_link().appendStylesheet('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css',null,null,{integrity:"sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z",crossorigin:"anonymous"}) %}
            {% do pimcore_head_link().appendStylesheet('https://cdnjs.cloudflare.com/ajax/libs/file-uploader/5.15.0/all.fine-uploader/fine-uploader-new.min.css') %}
            {% do pimcore_head_link().appendStylesheet(asset('/static/css/aja.css')) %}
            {# {% do pimcore_head_link().appendStylesheet(asset('bundles/export/css/custom.css')) %} #}

            <!-- JS, Popper.js, and jQuery -->
            {% do pimcore_head_script().appendFile('https://code.jquery.com/jquery-3.5.1.js',null,null,{integrity:"sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=",crossorigin:"anonymous"}) %}
            {% do pimcore_head_script().appendFile('https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js',null,null,{integrity:"sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN",crossorigin:"anonymous"}) %}
            {% do pimcore_head_script().appendFile('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js',null,null,{integrity:"sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV",crossorigin:"anonymous"}) %}

            {% do pimcore_head_script().appendFile(asset('bundles/formbuilder/js/frontend/vendor/fineuploader/jquery.fine-uploader.min.js')) %}
            {% do pimcore_head_script().appendFile(asset('bundles/formbuilder/js/frontend/plugins/jquery.fb.core.form-builder.js')) %}
            {% do pimcore_head_script().appendFile(asset('bundles/formbuilder/js/frontend/plugins/jquery.fb.ext.repeater.js')) %}
        
            {% if not document is defined or not document %}
                {% set document = pimcore_document(1) %}
            {% endif %}

            {% if document is instanceof('\\Pimcore\\Model\\Document\\Link') %}
                {# @var document \Pimcore\Model\Document\Link #}
                {% set document = document.getObject() %}
            {% endif %}

            {% if document.getTitle() is not empty %}
                {% do pimcore_head_title().set(document.getTitle()) %}
            {% endif %}

            {% if document.getDescription() is not empty %}
                {% do pimcore_head_meta().setDescription(document.getDescription()) %}
            {% endif %}
        {%- endspaceless %}

        {% block layout_head_meta deferred %}
            {{ pimcore_head_title() }}
            {{ pimcore_head_meta() }}
        {% endblock %}

        {% block head_stylesheets deferred %}
            {{ pimcore_head_link() }}
        {% endblock %}
    </head>
    <body>
        
        {% include '@FormBuilder/Common/redirect_flash_message.html.twig' %}
        <div class="padding-large">
            {% block content %}
            {% endblock %}
        </div>

        {# output scripts added before #}
        {% block headscripts deferred %}
            {{ pimcore_head_script() }}
        {% endblock %}


        {% block inlinescripts deferred %}
            {{ pimcore_inline_script() }}
        {% endblock %}
        
        <script>
            $(function () {
                $('form.formbuilder.ajax-form').formBuilderAjaxManager();
                $('form.formbuilder').formBuilderRepeater();
            });

            $('form.ajax-form').on('formbuilder.success', 
                function (ev, message, redirect, $form) {
                    if (redirect) {
                        document.location.href = redirect;
                    } else {
                        alert(message[0]['message']);
                    }
                }
            );
        </script>
    </body>
</html>