{% extends '@!FormBuilder/Form/Theme/bootstrap_4_layout.html.twig' %}

{% use '@FormBuilder/Form/Theme/Type/dynamic_multi_file.html.twig' %}
{%- block form_builder_dynamicmultifile_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default(''))|trim}) -%}
    {{ parent() }}
{%- endblock form_builder_dynamicmultifile_widget -%}
