.spacer-50 {
    padding: 50px;
}

.spacing-small {
    padding-bottom: 10px;
}

.spacing-medium {
    padding-bottom: 30px;
}

.spacing-large {
    padding-bottom: 50px;
}

.padding-small {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-medium {
    padding-top: 30px;
    padding-bottom: 31px;
}

.padding-large {
    padding-top: 50px;
    padding-bottom: 50px;
}

.left-right-padding {
    padding-left: 50px;
    padding-right: 50px;
}



.btn.btn-danger.remove-block {
    margin: 0 10px 10px 0;
    float: left;
}

.formbuilder-container-block fieldset.form-group {
    clear: both;
}